VITE_FIREBASE_API_KEY=PLACEHOLDER
VITE_FIREBASE_AUTH_DOMAIN=monarch-presentations.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://monarch-presentations-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=monarch-presentations
VITE_FIREBASE_STORAGE_BUCKET=monarch-presentations.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=PLACEHOLDER
VITE_FIREBASE_APP_ID=PLACEHOLDERyour_app_id
